## for Local Build

# Mandatory Vars

NAME='Kak Caca'
## Name of receiver

PIC='https://telegra.ph/file/71c8cbfb5f18f2cbe4aa7.jpg'
## Name of image file

# Optional Vars -- Do not add these vars to your env if you dont want to use them

##NICKNAME='Kak Caca'
## A Nickname for more personalization

HBD_MSG='Happy Birthday'
## Custom HBD Greeting message

SCROLL_MSG='https://telegra.ph/Me-05-19-19'
## Name of the Scroll Message txt file

##OPEN_DATE='2023-12-12'
## Active Date in YYYY-MM-DD format
